.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  color: rgba(96, 112, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.hamburger {
  cursor: pointer;
  width: 26px;
  height: 26px;
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(247, 247, 249, 1);
}

.headlineContainer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.name {
  color: rgba(23, 43, 77, 1);
  font-weight: 700;
  font-size:40px ;
  line-height: 52px;
  width: 327px;
  height: 150px;
  margin-top: 114px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  margin-left: 0;
}

.introduction {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 327px;
  height: 146px;
}

.connect {
  font-size: 16px;
  font-weight: 500;
  color: rgba(127, 140, 255, 1);
  line-height: 24px;
  cursor: pointer;
}

.Twitter {
  width: 17px;
  height:20px;
}

.Linkedin {
  width: 20px;
  height: 20px;
}

.M {
  width: 20px;
  height: 16px;
}

.github {
  width: 17.99px;
  height: 20px;
}

.victory {
  width: 14.17px;
  height: 20px;
}

.background {
  background-image: url('Icons/background1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 372px;
}

.main{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
}

.card1{
  width: 296px;
  height: 552px;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #DFE1E6;
  margin-top: 88px;

}

.main-img-a{
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-items: center;
}

.c1{
  display: grid;
  grid-template-rows: 36px 32px;
  gap: 9px;
}

.Tonic{
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172B4D;
  margin-top: 9px;
}

.canopy ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 236px;
  height: 32px;
  padding: 0;
  align-items: center;
}

.cano {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
}

.grey {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7A869A;
}

.main-txt{
  width: 295px;
  height: 76px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 20px;
}

.text-section{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.tags{
  display: flex;
  width: 214px;
  height: 24px;
  justify-content: space-between;
  margin-top: 16px;
}
.tg{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: #6070FF;
  background-color: #EBEBFF;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;

}
.see-projects{
  width: 126px;
  height: 48px;
  top: 12px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #396DF2;
  border-color: #396DF2;
  margin-top: 50px;
}

.card2{
  margin-top: 88px;
  width: 296px;
  height: 552px;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #DFE1E6;
}

.main-img-b{
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-items: center;
}

.mps{
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172B4D;
  margin-top: 9px;
}

.c2{
  display: grid;
  grid-template-rows: 70px 32px;
  gap: 9px;
}

.tags2{
  display: flex;
  width: 214px;
  height: 24px;
  justify-content: space-between;
  margin-top: 9px;
}

.see-projects2{
  width: 126px;
  height: 48px;
  top: 12px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #396DF2;
  border-color: #396DF2;
  margin-top: 25px;
}

.card3{
  margin-top: 88px;
  width: 296px;
  height: 552px;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #DFE1E6;
}

.c3{
  display: grid;
  grid-template-rows: 38px 32px;
  gap: 9px;
}

.see-projects3{
  width: 126px;
  height: 48px;
  top: 12px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #396DF2;
  border-color: #396DF2;
  margin-top: 50px;
}

.card4{
  margin-top: 88px;
  width: 296px;
  height: 552px;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #DFE1E6;
}